* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'objectivity';
	font-weight: 400;
	src:
		url('fonts/Objectivity-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'objectivity';
	font-weight: 700;
	src:
		url('fonts/Objectivity-Black.woff2') format('woff2');
}

body {
	background: #F2F2F2;
	font-family: 'objectivity';
	font-size: 16px;
	font-weight: 200;
	padding: 0px;
	margin: 0;
}

.header {
	background: #4deec6;
	padding: 18px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 120px;
}

h1 {
	font-family: 'objectivity';
	font-weight: 700;
	font-size: 48px;
	font-kerning: inherit;
	color: rgb(154, 164, 255);
	margin: 0;
}

.main {
	max-width: 600px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

h2 {
	background: #F2F2F2;
	font-family: 'objectivity';
	font-size: 18px;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

blockquote {
	font-family: 'objectivity';
	font-size: 64px;
	font-weight: 500;
	font-optical-sizing: 0px;
	margin: 0;
}